html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
    background-color: white;
}

img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

#ag {
    margin-top: 3rem;
}
header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding: 1rem 5px;
    top: 0px;
    left: 0px;
    z-index: 100;
}
main {
    padding: 3rem 10px;
    text-align: center;
    background-image: url("./pictures/bgd.png");
}

table {
    width: 100%;
}
tr:nth-child(odd) {
    background-color: rgba(223, 223, 223, 0.683);
}

.left {text-align: left;}

.img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.fig-margin {margin: 1rem;}
.fig-margin figure {
    margin: 5px;
    position: relative;
}

.info {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content:center ;
    align-items: center;

    background-color: white;
    border-radius: 5px;
    
   
    transition: all 0.5s;
}

.info:hover {
    opacity: 0.8;
}


footer {
    text-align: center;
    color: white;
    background-color: black;
    margin: 0px;
    padding: 2rem;
}

.dropbtn {
    position: relative;
    font-size: 1.5rem;
    z-index: 20;
}

.dropmeni {
    position: absolute;
    left: -30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: black;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 19;
    transform: translateY(-200px);
}

.dropmeni >* {
    padding: 0.5rem;
}

.dropbtn:hover .dropmeni {
    opacity: 1;
    transform: translateY(0px);
}

/* animacije*/
 figure {transition: all 1s;}

.pop {
    transform: scale(1.05);
}